@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Balqis";
  
    src: url("../assets/fonts/Balqis.ttf"); /* IE9 Compat Modes */
    src: local(""),
    /* IE6-IE8 */ 
    url("../assets/fonts/Balqis.ttf")
    format("ttf"),
  }