.container__skills {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.skills {
  height: 400px;
  padding: 40px 0;

  background: url("https://cdn.pixabay.com/photo/2017/02/16/19/47/bokeh-2072271_1280.jpg");
  background-size: cover;
  background-attachment: fixed;
  &__header {
    position: absolute;
    top: 0;

    font-size: 2rem;
  }
  &__motto {
    width: 40%;

    font-size: 2rem;
    border-right: 1px solid $text-color;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    width: 60%;
  }
}

.skill {
  width: 40%;
  h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
  }
  p {
    font-size: 1.5rem;
  }
}

.skill:nth-child(3) {
  margin-top: 20px;
}
